---
import Card from "../components/Card.astro";
import "./misc.css";
const friedmanquote = String.raw`“The important thing is to make it politically profitable for the wrong people to do the right thing. If it is not politically profitable for the wrong people to do the right thing, the right people will not do the right thing either.”`;
const painequote = String.raw`“Government, even in its best state, is but a necessary evil; in its worst state, an intolerable one.”`;
const bastiatquote = String.raw`“If the natural tendencies of mankind are so bad that it is not safe to permit people to be free, how is it that the tendencies of these organizers are always good? Do not the legislators and their appointed agents also belong to the human race?”`;
const patersonquote = String.raw`“Most of the harm in the world is done by good people, and not by accident, lapse, or omission. It is the result of their deliberate actions, long persevered in, which they hold to be motivated by high ideals toward virtuous ends.”`;
const hayekquote = String.raw`“From the fact that people are very different it follows that, if we treat them equally, the result must be inequality in their actual position, and that the only way to place them in an equal position would be to treat them differently.”`;
const boazquote = String.raw`“It’s the exercise of power, not the exercise of freedom, that requires justification.”`;
const spoonerquote = String.raw`“But whether the Constitution really be one thing, or another, this much is certain - that it has either authorized such a government as we have had, or has been powerless to prevent it. In either case it is unfit to exist.”`;
const sowellquote = String.raw`“The fact that the market is not doing what we wish it would do is no reason to automatically assume that the government would do better.”`;
---

<section
	id="carousel"
	tabindex="0"
	class="noscrollbar overflow-x-scroll whitespace-nowrap py-20 flex cursor-grab active:cursor-grabbing"
>
	<h2 class="hidden">Quotes</h2>
	<Card
		name="Lysander Spooner"
		imagepath="portraits/Lysander-Spooner.jpg"
		quote={spoonerquote}
		title="American Abolitionist"
	/>
	<Card
		name="Milton Friedman"
		imagepath="portraits/Milton-Friedman.webp"
		quote={friedmanquote}
		title="1976 Nobel Laureate in Economics"
	/>
	<Card
		name="Frederic Bastiat"
		imagepath="portraits/Frederic-Bastiat.jpg"
		quote={bastiatquote}
		title="French Economist and Lawmaker"
	/>
	<Card
		name="Thomas Paine"
		imagepath="portraits/Thomas-Paine.jpg"
		quote={painequote}
		title="American Revolutionary"
	/>
	<Card
		name="David Boaz"
		imagepath="portraits/David-Boaz.jpg"
		quote={boazquote}
		title="Executive Vice President of the Cato Institute"
	/>
	<Card
		name="Thomas Sowell"
		imagepath="portraits/Thomas-Sowell.jpg"
		quote={sowellquote}
		title="American Economist and Author"
	/>
	<Card
		name="Isabel Paterson"
		imagepath="portraits/Isabel-Paterson.jpg"
		quote={patersonquote}
		title="Canadian-American Journalist and Author"
	/>
	<Card
		name="Friedrich Hayek"
		imagepath="portraits/Friedrich-Hayek.jpg"
		quote={hayekquote}
		title="1974 Nobel Laureate in Economics"
	/>
</section>

<script>
	let pressed = false;
	let carousel = document.getElementById("carousel")!;

	carousel.addEventListener("mousedown", e => {
		pressed = true;
	});
	carousel.addEventListener("mouseup", () => {
		pressed = false;
	});

	carousel.addEventListener("mousemove", e => {
		if (!pressed) return;
		e.preventDefault();
		carousel.scrollLeft -= e.movementX;
	});
</script>
